@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

/* ****** BUTTON ****** */
.btn-main {
  background-color: var(--primary-blue);
  color: white;
  border: 2px solid var(--primary-blue) !important;
  transition: all 0.3s ease;
  font-size: 1.3rem;
}

.btn-main:hover {
  background-color: #fff;
  color: var(--primary-blue);
}

.btn-main:active {
  background-color: #687be3;
}

.btn-main:focus {
  outline: none;
}

.btn-white {
  background-color: #fff;
  color: var(--very-dark-blue);
  border: 2px solid #fff !important;
  transition: all 0.3s ease;
}

.btn-white:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000 !important;
}

.btn-white:active {
  background-color: #e6e6e6;
}

.btn-white:focus {
  outline: none;
}

/* ****** common section heading ****** */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .section {
    text-align: center;
  }
}

.section__heading {
  padding: 2rem 0;
  color: #252b46;
}

.section__heading--text {
  font-size: 3rem;
  font-weight: 700;
}

.section__desc {
  line-height: 1.3;
  font-size: 1.5rem;
  color: var(--grayish-blue);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

/* ****** NAVBAR ****** */
.header {
  padding: 2rem 10rem;
}

@media (max-width: 992px) {
  .header {
    padding: 3rem 4rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 3rem 2rem;
  }
}

.navbar-light .navbar-toggler {
  text-decoration: none;
  border-color: #fff !important;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__list--item {
  text-decoration: none !important;
  color: var(--grayish-blue) !important;
  margin: 2rem !important;
}

.navbar__list--item:hover {
  text-decoration: none;
  color: var(--primary-red) !important;
}

.navbar__list--button {
  background-color: var(--primary-red);
  color: #fff !important;
  padding: 1rem 4rem;
  border: 2px solid var(--primary-red);
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
  transition: all 0.3s ease;
}

.navbar__list--button:hover {
  background-color: #fff;
  color: var(--primary-red);
}

@media (max-width: 477px) {
  .navbar__list--button {
    padding: 1rem 10rem;
  }
}

/* ****** HERO ****** */
.hero {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;
  padding: 0 10rem;
  overflow: hidden;
  min-height: 52rem;
  align-items: center;
  position: relative;
}

@media (max-width: 992px) {
  .hero {
    padding: 0 4rem;
  }
}

.hero__content {
  display: flex;
  flex-flow: column;
}

@media (max-width: 767px) {
  .hero__content {
    padding-bottom: 4rem;
  }
}

@media (max-width: 477px) {
  .hero__content {
    padding-bottom: 4rem;
  }
}

.hero__content--heading {
  font-size: 5rem;
  font-weight: 500;
  color: var(--very-dark-blue);
}

@media (max-width: 1154px) {
  .hero__content--heading {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .hero__content--heading {
    text-align: center;
  }
}

@media (max-width: 477px) {
  .hero__content--heading {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .hero__content--heading {
    font-size: 2rem;
  }
}

.hero__content--desc {
  margin: 3rem 0;
  font-size: 1.8rem;
  color: var(--grayish-blue);
}

@media (max-width: 767px) {
  .hero__content--desc {
    text-align: center;
  }
}

@media (max-width: 477px) {
  .hero__content--desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .hero__content--desc {
    font-size: 1.2rem;
  }
}

.hero__content--button .hero__button {
  padding: 1rem 2.2rem;
  margin-right: 3rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
  font-size: 1.4rem;
  font-weight: 500;
}

.hero__content--button .hero__button:focus {
  outline: none;
}

@media (max-width: 477px) {
  .hero__content--button .hero__button {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 1154px) {
  .hero__content--button {
    display: flex;
    flex-flow: row nowrap;
  }
}

@media (max-width: 767px) {
  .hero__content--button {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}

.hero__image {
  position: relative;
}

.hero__image::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: #5368df;
  position: absolute;
  top: 34%;
  right: -16.3rem;
  z-index: -5;
  display: block;
  border-bottom-left-radius: 162px;
}

@media (max-width: 477px) {
  .hero__image::before {
    content: "";
    width: 100%;
    height: 70%;
    background-color: #5368df;
    position: absolute;
    top: 30%;
    right: -6.3rem;
    z-index: -5;
    display: block;
    border-bottom-left-radius: 162px;
  }
}

.hero__image img {
  display: block;
  width: 100%;
}

/* ****** FEATURES ****** */
.feature {
  margin-top: 4rem;
}

.feature__tab {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  align-items: center;
}

@media (max-width: 767px) {
  .feature__tab {
    flex-direction: column;
    padding: 4rem 4rem;
    align-items: stretch;
    text-align: center;
  }
}

@media (max-width: 477px) {
  .feature__tab {
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: stretch;
    text-align: center;
  }
}

.feature__tab--items {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 2rem 4rem 2rem 4rem;
  color: #374068;
  border-bottom: 1px solid #ccc;
}

.feature__tab--items:hover {
  text-decoration: none;
  color: var(--primary-red);
}

.feature__tab--items.active {
  border-bottom: 4px solid var(--primary-red);
  position: relative;
}

@media (max-width: 477px) {
  .feature__tab--items.active {
    border-bottom: 1px solid #b3b3b3;
  }
  .feature__tab--items.active::before {
    content: "";
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: #fa5757;
    position: absolute;
    left: 26%;
  }
}

.feature__tab--items:active, .feature__tab--items:focus {
  outline: none;
  background-color: #e6e6e6;
}

.feature-section {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  min-height: 42rem;
  position: relative;
  margin-bottom: 5rem;
}

.feature-section__image {
  position: relative;
  overflow: hidden;
  /* align-self: center; */
  padding: 5rem;
}

.feature-section__image img {
  display: block;
  width: 100%;
  padding-left: 10rem;
}

.feature-section__image::before {
  content: "";
  width: 100%;
  height: 69%;
  background-color: #5368df;
  position: absolute;
  top: 29%;
  left: -21%;
  z-index: -1;
  display: block;
  border-bottom-right-radius: 162px;
}

@media (max-width: 767px) {
  .feature-section__image img {
    display: block;
    width: 100%;
    padding-left: 2rem;
  }
  .feature-section__image::before {
    content: "";
    width: 87%;
    height: 48%;
    background-color: #5368df;
    position: absolute;
    top: 51%;
    left: -6%;
    z-index: -1;
    display: block;
    border-bottom-right-radius: 162px;
  }
}

.feature-section__content {
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .feature-section__content {
    margin: 4rem 0;
    align-items: center;
    text-align: center;
  }
}

.feature-section__content--heading {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--very-dark-blue);
}

.feature-section__content--desc {
  margin: 3rem 0;
  font-size: 1.5rem;
  color: var(--grayish-blue);
}

.feature-section__button {
  padding: 1rem 2.2rem;
  margin-right: 3rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
}

.feature-section__button:focus {
  outline: none;
}

/* ****** Extenison ****** */
.extension {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extension-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .extension-grid {
    margin: 9rem 0;
  }
}

.extension-grid__card {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 13px;
  box-shadow: 0px 16px 15px rgba(207, 208, 215, 0.611765);
}

.extension-grid__card.mt-3 {
  margin-top: 3rem !important;
}

.extension-grid__card.mt-6 {
  margin-top: 6rem;
}

.extension-grid__card--img {
  padding-bottom: 3rem;
}

.extension-grid__card--title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #252b46;
}

.extension-grid__card--desc {
  font-size: 1.3rem;
  color: #9194a1;
  font-weight: 400;
  padding-bottom: 1rem;
}

.extension-grid__card--dots {
  padding: 2rem 0;
}

.extension-grid__card--button {
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
  width: 100%;
}

/* ****** Faq ****** */
.faq__accordin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq__accordin .accordion {
  padding: 5rem 0;
}

.faq__accordin .card {
  border-left: none;
  border-right: none;
}

.faq__accordin .card-body {
  font-size: 1.5rem;
  line-height: 1.7;
  color: var(--very-dark-blue);
}

.faq__accordin .accordion > .card > .card-header {
  border-bottom: none;
  background-color: #fff;
  font-size: 1rem;
}

.faq__accordin .accordion > .card > .card-header .card-header__icon {
  float: right;
  margin-top: 0.6rem;
}

.faq__accordin .accordion > .card > .card-header .btn-link {
  font-size: 1.5rem;
  color: var(--very-dark-blue);
  font-weight: 500;
}

.faq__accordin .accordion > .card > .card-header .btn-link:hover, .faq__accordin .accordion > .card > .card-header .btn-link:active {
  color: var(--primary-red);
  text-decoration: none;
}

.faq__accordin .accordion > .card > .card-header .btn-link:focus {
  box-shadow: none;
  text-decoration: none;
}

.faq__accordin--button {
  padding: 1rem 2.2rem;
  margin-right: 3rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
  font-size: 1.4rem;
  font-weight: 500;
}

/* ****** Footer ****** */
.footer {
  margin-top: 9rem;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue);
  padding: 5rem 0;
}

.footer-top__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.footer-top__main--head {
  font-size: 1.2rem;
  letter-spacing: 6px;
  padding-bottom: 3rem;
}

.footer-top__main--title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 3rem;
}

.footer-top__main--form {
  width: 100%;
}

.footer-top__main--form .form-inline {
  flex-flow: row nowrap;
}

.footer-top__main--form .form-inline .form-control {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  margin-right: 1rem !important;
}

.footer-top__main--form .form-inline .form-control:focus {
  border: 2px solid var(--primary-red);
}

.footer-top__main--form button {
  background-color: var(--primary-red);
  color: #fff;
  width: 40%;
  padding: 1rem 2rem;
  border: 2px solid var(--primary-red) !important;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0px rgba(108, 108, 108, 0.2);
  transition: all 0.3s ease;
}

.footer-top__main--form button:hover {
  background-color: #fff;
  color: var(--primary-red);
}

@media (max-width: 380px) {
  .footer-top__main--form button {
    width: 55%;
  }
}

.footer-bottom {
  padding: 2rem 10rem;
  background-color: var(--very-dark-blue);
}

.footer-bottom-nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .footer-bottom-nav {
    font-size: 2rem;
  }
}

.footer-bottom-nav__list {
  padding-left: 6rem;
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media (max-width: 767px) {
  .footer-bottom-nav__list {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding: 3rem;
  }
}

.footer-bottom-nav__list--item {
  text-decoration: none;
  color: #fff;
}

.footer-bottom-nav__list--item:hover {
  text-decoration: none;
  color: var(--primary-red);
}

.footer-bottom-nav__list--item:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 767px) {
  .footer-bottom-nav__list--item:not(:last-child) {
    margin-right: 0rem;
  }
}

@media (max-width: 767px) {
  .footer-bottom-nav__list--item {
    padding: 1.5rem;
  }
}

.footer-bottom-nav__icon--s {
  padding: 0 2rem;
}
/*# sourceMappingURL=style.css.map */